@import compass
@import sprite
$media-queries	: false !default
$custom-fonts	: false !default
$spritesheets	: false !default


////////////////////////////////////////////////////
///////////////////// COLOURS //////////////////////
////////////////////////////////////////////////////

$light-blue: rgba(0, 167, 208, 1)
$grey: rgba(102, 102, 102, 1)


////////////////////////////////////////////////////
///////////////////// BREAKPOINTS //////////////////
////////////////////////////////////////////////////

$smallest-feature: 240px
$smart: 320px
$tablet: 700px
$desktop: 1024px
$desktop-large: 1280px

////////////////////////////////////////////////////
/////////////////// OTHER VARIABLES ////////////////
////////////////////////////////////////////////////

$gutter: 15px
$vert-space: 20px


////////////////////////////////////////////////////
///////////////////// RESETS ///////////////////////
////////////////////////////////////////////////////
@import base


////////////////////////////////////////////////////
/////////////////////// FONTS //////////////////////
////////////////////////////////////////////////////

// +min-break($smart)
// 	$fonts: 'custom-font-1', 'custom-font-2', 'custom-font-n'
// 	+all_fonts($fonts)
// folder/naming structure in fonts folder for guidance 
// (assumes font conversion with http://www.fontsquirrel.com/tools/webfont-generator)


///////////////////// FONT STACKS //////////////////

// $slim-joe: "slim-joe", Arial, "Helvetica Neue", Helvetica, sans-serif
// $big-john: "big-john", Arial, "Helvetica Neue", Helvetica, sans-serif


////////////////////////////////////////////////////
////////// MIXINS, PLACEHOLDERS, BUTTONS ///////////
////////////////////////////////////////////////////




////////////////////////////////////////////////////
/////////////////// GENERAL STYLES /////////////////
////////////////////////////////////////////////////

// use for sitewide stuff e.g. html, a, img

html
	width: 100%
	overflow-x: hidden // fixes overflow scroll on mobile
	height: 100%

a
	text-decoration: underline

body
	overflow-x: hidden
	min-height: 100%


img
	display: block
	max-width: 100%

.clear
	clear: both

.left
	float: left

.right
	float: right

.row
	display: block
	+clearfix

// h1, h2, h3, h4, h5
// 	text-transform: uppercase



////////////////////////////////////////////////////
/////////////// HEADER/NAV STYLES //////////////////
////////////////////////////////////////////////////



////////////////////////////////////////////////////
////////////////// FOOTER STYLES ///////////////////
////////////////////////////////////////////////////

footer
	background: $grey


////////////////////////////////////////////////////
////////////////// FORM STYLES /////////////////////
////////////////////////////////////////////////////



////////////////////////////////////////////////////
////////////// PAGE-SPECIFIC STYLES ////////////////
////////////////////////////////////////////////////





