$media-queries: true
$custom-fonts: true
$spritesheets: true

//@import fonts
//@import sprites
@import default


////////////////////////////////////////////////////
/////////////////// LAYOUT STYLES //////////////////
////////////////////////////////////////////////////

+min-break($desktop)
	#main
		max-width: 960px
		margin: 0 auto

nav.slide-nav
	background: rgb(224, 224, 224)
	ul li
		padding: 10px
		border-top: 1px solid #000000
		cursor: pointer

		a
			width: 100%
			display: block

	.root
		width: 25%
		float: left
		background: #E2F2E2


	.section
		background: #F2E2EB
		width: 35%
		float: left
		position: relative
		left: 40%

	.subSection
		background: #C7C9DB
		width: 50%
		float: left
		position: relative
		left: 10%


.breadcrumb
	background: $light-blue

// .root
// 	color: $light-blue

// +min-break($smart)
// 	.root
// 		color: red